body {
    font-family: sans-serif;
}
header {
    background-color: aqua ;
    margin: 20px;
    padding: 15px;
    border-radius: 12px;
    
}
h1 {
    color: blueviolet;
    text-align: center;
}
footer {
    background-color: cadetblue;
}
nav a {
text-decoration: none;
background-color: darkmagenta ;
border-radius: 15px;
padding: 10px;
margin: 10px ;
color: white;
}
.qwerty{
    background-color: tomato;
}
